{:paths       ["src"]
 :extra-paths ["resources"]

 :deps        {org.clojure/clojure               {:mvn/version "1.10.1"}
               me.arrdem/cuddlefish              {:mvn/version "0.1.0"}
               com.taoensso/timbre               {:mvn/version "4.10.0"}

               com.github.zafarkhaja/java-semver {:mvn/version "0.9.0"}

               org.clojure/tools.deps.alpha      {:mvn/version "0.9.857"}
               org.clojure/tools.cli             {:mvn/version "1.0.194"}
               org.clojure/data.xml              {:mvn/version "0.2.0-alpha6"}
               org.clojure/data.zip              {:mvn/version "1.0.0"}}

 :aliases     {:garamond {:main-opts ["-m" "garamond.main"
                                      "--artifact-id" "garamond"
                                      "--group-id" "com.workframe"
                                      "--scm-url" "https://github.com/workframers/garamond"]}

               :test     {:extra-paths ["test"]
                          :extra-deps  {lambdaisland/kaocha           {:mvn/version "1.0.732"}
                                        lambdaisland/kaocha-junit-xml {:mvn/version "0.0.76"}}
                          :main-opts   ["-m" "kaocha.runner"]}

               :jar      {:extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                                        :sha     "8acf80dd4d6e5173585f5c6fec7af28a310f3ed7"}}
                          :main-opts  ["-m" "mach.pack.alpha.skinny" "--no-libs" "--project-path"
                                       "target/garamond.jar"]}

               :deploy   {:extra-deps {deps-deploy/deps-deploy {:mvn/version "RELEASE"}}
                          :main-opts  ["-m" "deps-deploy.deps-deploy" "deploy"
                                       "target/garamond.jar"]}}}
